{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">  
    <!-- placeholder code  -->
    <div class="row mt-5 mb-3">  
      <div class="col-md-12">  
        <div class="float-left">  
          <h1 class="mb-0">{{ event.name }}</h1>  
          <p>Popular event</p>  
        </div>  
 
        
      </div>  
    </div>  

    <!-- <div class="row border-bottom"> 
      {{ render_form(form,"/events/{0}/comment".format(event.id)) }}
      
      {% for comment in event.comments %}
      <div class="col-md-12">  
        <b>{{ comment.user.name }} <span class="ml-2 text-muted">{{ comment.created_at.strftime('%d/%m/%y %I:%M %p')}}</span></b>
        <p>{{ comment.text }}</p>  
      </div> 
      {% endfor %} 
    </div>   -->
    <div class="ticket-container col-sm-4">
        {{ render_form(orderForm,"/events/{0}/tickets".format(event.id)) }}
        <div class="ticket">
            <!-- ticket cards -->
            <h1 class="display-5">Tickets</h1>
            <div class="card">
                <div class="card-body">
                    <div class="single-col">
                        <div class="row">
                            <div class="col">
                                <p class="lead">General Admission</p>
                                <p>$00.00</p>
                            </div>
                            <div class="col">
                                <!-- Quantity Input -->
                                <div class="form-group">
                                    <input type="number" class="form-control"
                                        id="ticketQuantity" placeholder="1">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
 
    <!-- event --> 
    <!-- <div class="row">  
      <div class="col-md-12">  
        <div class="card my-3">  
          <div class="card-body">  
            <div class="media">  
              <img class="align-self-start mr-3" src="{{ event.image }}">  
              <div class="media-body">  
                <small class="font-weight-bold text-muted">Stay 2 nights</small>  
                <h5 class="mt-0">{{ event.name }}</h5>  
                <p>{{ event.description }}</p>  
                <a href="#" class="btn btn-danger">Book Now</a>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>
    <hr> -->
    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-12">  
        <h2>Comments</h1>  
      </div>  
    </div>  
 
    <!-- <div class="row border-bottom"> 
      {{ render_form(form,"/events/{0}/comment".format(event.id)) }}
      
      {% for comment in event.comments %}
      <div class="col-md-12">  
        <b>{{ comment.user.name }} <span class="ml-2 text-muted">{{ comment.created_at.strftime('%d/%m/%y %I:%M %p')}}</span></b>
        <p>{{ comment.text }}</p>  
      </div> 
      {% endfor %} 
    </div>   -->
  </div> 

{% endblock %}