{% include "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block header %}

{% endblock %}
{% block body %}

<br>
<br>
<br>
<br>

<div id="content">
    <div class="row">
        <!-- Festival Creation Form -->
        <div class="col-md-12 content-area">
            <h2>{{heading}}</h2>
            <!-- flashes any messages to the user -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="container-fluid">
                <div class="row mt-3 mb-3">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endwith %}


            <div class="col-md-6">
                {{render_form(form)}}
            </div>

            <!-- When you have login form, then do show the user a link to register -->
            {% if heading|lower =='login' %}
            <div class="col-md-4">
                <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
            </div>
            {% endif %}

            <br>
            <br>
            <hr>
            <br>


        </div>


    </div>
</div>
</div>


{% endblock %}